[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:athul/archie.git
[submodule "themes/terminalcv"]
    path = themes/terminalcv
    url = git@github.com:coolapso/hugo-theme-terminalcv.git